# Build outputs
dist
build
out
coverage

# Generated documentation
docs/.vitepress/cache
docs/reference

# Dependencies
node_modules
.pnpm-store
pnpm-lock.yaml

# Turbo
.turbo

# OS
.DS_Store

# IDE
.vscode
.idea

# Local history
.lh
